body {
    background: #d6d8d6;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
    border: none;
}

table tbody tr:hover {
    background-color: #e4e7e4;
    cursor: pointer;
}

.active td {
    background-color: #d6d8d6 !important;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}