body {
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
    border: none;
    
}

table tbody tr:nth-child(odd) {
    background-color: #7cc653
}

table tbody tr:hover {
    background-color: #81f442;
    cursor: pointer;
}

.active td {
    background-color: #63e21d !important;
}